@import "normalize.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.meme_container {
  display: flex;
  flex-direction: column;
padding: 25px;
  background-color: black;
  border-radius: 10px;
}
.meme_input {
  visibility: hidden;
}
.meme1 {
  width: 0;
  height: 0;
  background-image: url(/assets/meme1.png);
  background-position: center;
  background-size: contain;
  transition: 500ms ease;
}

.meme2 {
  width: 0;
  height: 0;
  background-image: url(/assets/meme2.jpg);
  background-position: center;
  background-size: contain;
  transition: 500ms ease;
}
.meme3 {
  width: 0;
  height: 0;
  background-image: url(/assets/meme3.png);
  background-position: center;
  background-size: contain;
  transition: 500ms ease;
}
.meme4 {
  width: 0;
  height: 0;
  background-image: url(/assets/meme4.png);
  background-position: center;
  background-size: contain;
  transition: 500ms ease;
}
.meme_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.meme_img {
}
.meme_tab_title {
  &:hover > .meme_content > .meme_img {
    width: 300px;
    height: 300px;
    transition: 500ms ease;
  }
}

.meme_input:checked ~ .meme_content > .meme_img {
  width: 300px;
  height: 300px;
  transition: 500ms ease;
}
